@import '../../../../scss/base/variables';
.funds-list__list {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
    border: 1px solid $color-accent-dark;
  border-radius: $border-radius-default;

}

.funds-list__item {
  padding: 1rem;
  border-bottom: 1px solid $color-accent-dark;
    &:last-of-type {
    border-bottom: none;
  }
}
