@mixin main-content {
  height: 100%;
  padding: 1rem;
  background-color: $color-shade-dark;
}

@mixin main-content__header {
  grid-column-end: span 12;
}

@mixin content-box {
  background-color: $color-shade-light;
  color: $color-shade-dark;
  padding: 1rem;
  border: 0.125rem solid transparent;
  border-radius: $border-radius-default;

  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14),
    0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2),
    0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
}
