@mixin main-content {
  height: 100%;
  padding: 1rem;
  background-color: $color-shade-dark;
}

@mixin main-content__header {
  grid-column-end: span 12;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin box-shadow-default {
  box-shadow: 0 0.125rem 0.125rem 0 rgba($color-box-shadow, 0.14),
    0 0.1875rem 0.0625rem -0.125rem rgba($color-box-shadow, 0.2),
    0 0.0625rem 0.3125rem 0 rgba($color-box-shadow, 0.12);
}

@mixin box-shadow-inverse {
  box-shadow: 0 -0.125rem 0.125rem 0 rgba($color-box-shadow, 0.14),
    0 -0.1875rem 0.0625rem -0.125rem rgba($color-box-shadow, 0.2),
    0 -0.0625rem 0.3125rem 0 rgba($color-box-shadow, 0.12);
}

@mixin content-box {
  background-color: $color-shade-light;
  color: $color-shade-dark;
  padding: 1rem;
  border: 0.125rem solid transparent;
  border-radius: $border-radius-default;

  @include box-shadow-default;

  &--success {
    border-color: $color-success;
  }
  &--warning {
    border-color: $color-warning;
  }
  &--danger {
    border-color: $color-danger;
    animation: pulse__box--danger $pulse-duration infinite;
  }
}
