@import '../../../../scss/base/variables';
@import '../../../../scss/utils/mixins';
@import '../../../../scss/base/grid';

.statistics-by-assignee__header {
  @include main-content__header;
}

.statistics-by-assignee__select {
  @include full-width;
  resize: vertical;
  height: 8rem;
  option {
    padding: 0.5rem;
  }
}

.statistics-by-assignee__item {
  @include content-box;
  padding: 0;
}

.statistics-by-assignee__list {
  @include full-width;
  @include grid-box-list;
}

.statistics-by-assignee__datapoint {
  margin-bottom: 1rem;
  &:last-child {
    margin: 0;
  }
  &--accent {
    font-weight: 700;
  }
}
