@import '../../../../scss/base/variables';
@import '../../../../scss/utils/mixins';
@import '../../../../scss/base/grid';

.statistics-by-assignee__header {
  @include main-content__header;
}

.statistics-by-assignee__heading {
  margin-bottom: 1rem;
}

.statistics-by-assignee__select {
  @include full-width;
}

.statistics-by-assignee__item {
  @include content-box;
  @include full-width;
}
.statistics-by-assignee__list {
  margin-bottom: 1rem;
}

.statistics-by-assignee__datapoint {
  margin-bottom: 1rem;
  &:last-child {
    margin: 0;
  }
  &--accent {
    font-weight: 700;
  }
}

.statistics-by-assignee__progress {
  @include full-width;
}
