@import '../../../scss/base/variables';
@import '../../../scss/utils/mixins';
@import '../../../scss/base/grid';

.statistics {
  @include main-content;
  @include grid-container;
}

.statistics__header {
  @include main-content__header;
}

.statistics__heading {
  margin-bottom: 1rem;
}

.statistics__data {
  @include content-box;
  @include grid-container;
  @include full-width;
}

.statistics__total {
  @include full-width;
}

.statistics__by-criteria {
  @include full-width;
  display: flex;
  flex-flow: row wrap;
}

.statistics__criterion {
  @include content-box;

  flex: 1 0 calc(20% - 2rem);
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.assignee__select {
  @include full-width;
}
.assignee__data {
  @include content-box;
  @include full-width;
}

.statistics__datapoint {
  margin-bottom: 1rem;
  &:last-child {
    margin: 0;
  }
  &--accent {
    font-weight: 700;
  }
}

.statistics__charts {
  @include content-box;
  @include grid-container;
  @include full-width;
}

.chart {
  @include full-width;
}

@media screen and (min-width: $breakpoint-width-mid) {
  .chart {
    grid-column-end: span 6;
  }
}
