<h2 class="charts__header">Charts</h2>
<div class="chart">
  <app-total-pie-chart title="total" [chartData]="totalPieChartData" [chartLabels]="['Checked Funds', 'Unchecked Funds']"></app-total-pie-chart>
</div>
<div class="chart" *ngFor="let rank of rankPieChartData | keyvalue">
  <app-total-pie-chart [title]="'rank '+rank.key" [chartData]="rank.value" [chartLabels]="['Checked Funds', 'Unchecked Funds']"></app-total-pie-chart>
</div>
<div class="chart chart--large">
  <app-line-chart title="Sample Line Chart"></app-line-chart>
</div>
