$color-primary: #2A5F96;

$color-accent-dark: #859CB5;
$color-accent-light: #85BBCD;

$color-shade-dark: #222C50;
$color-shade-darker: rgb(20, 25, 43);

$color-shade-light: #FCFAFB;
$color-shade-lighter: #fff;

$color-success: #429765;
$color-warning: #bf872d;
$color-danger: #f44336;

$transition-duration: .4s;

$breakpoint-width: 40rem;
$breakpoint-width-mid: 70rem;

$border-radius-default: .125rem;
