<div class="col-6">
  <h3 class="total-statistics__header">
    Total stats as of {{ statistics.date | date: 'dd/MM/y' }}
  </h3>

  <app-total-statistics-list
    class="total-statistics__list"
    [statistics]="statistics.total"
  ></app-total-statistics-list>
</div>
<div class="col-6">
  <h3 class="total-statistics__header">
    Rank 1-3 stats as of {{ statistics.date | date: 'dd/MM/y' }}
  </h3>

  <app-total-statistics-list
    class="total-statistics__list"
    [statistics]="statistics.rank123"
  ></app-total-statistics-list>
</div>
