<div class="admin">
  <h2 class="admin__header">Admin</h2>

  <div class="admin__section">
    <h3 class="admin__header">Export funds</h3>
    <button class="button" (click)="downloadFile()"><span class="fa fa-download button__icon"></span>Download</button>
  </div>
  <div class="admin__section">
    <h3 class="admin__header">Import Excel file</h3>
    <form class="import__form" enctype="multipart/form-data" (submit)="uploadFile()">
      <input name="file" id="file" class="file-input import__file-input" [ngClass]="{'file-input--uploaded': file}"
        type="file" accept=".xlsx,.xls,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        (change)="onFileChange($event)">
      <label for="file"><span class="fa fa-file button__icon"></span>{{file ? file.name : 'Choose File'}}</label>
      <button [disabled]="!file || loading" type="submit" class="button" [ngClass]="{'button--success': fileStatus === 'success', 'button--danger': fileStatus === 'failure'}"><span
          class="fa button__icon" [ngClass]="{
            'fa-upload': !loading && !fileStatus,
            'fa-refresh fa-spin': loading,
            'fa-check': !loading && fileStatus === 'success',
            'fa-warning': !loading && fileStatus === 'failure'
          }"></span>
        {{fileStatus || 'Upload'}}</button>
    </form>
  </div>
  <div class="admin__section admin__section--danger">
    <h3 class="admin__header">Remove all funds</h3>
    <button class="button button--danger" (click)="removeAllFunds()"><span class="button__icon fa fa-trash"></span>Remove</button>
  </div>
</div>
