@import '../../../scss/base/variables';
@import '../../../scss/utils/mixins';
@import '../../../scss/base/grid';

.admin {
  @include main-content;
  @include grid-container;
}
.admin__header {
  @include main-content__header;
}

.admin__section {
  @include content-box;
  grid-column-end: span 12;
}

.import__form {
  @include full-width;
  display: flex;
  flex-flow: column;
}

.import__date {
  flex: 1 0 auto;
}

.import__overwrite-funds {
  border: 1px solid $color-accent-light;
  border-radius: $border-radius-default;
  padding: .75rem;
  margin: 0.25rem;
}

.admin__statistics-list {
  display: flex;
  flex-flow: column;
  border: 1px solid $color-accent-dark;
  border-radius: $border-radius-default;
}

.statistics-list__item {
  border-bottom: 1px solid $color-accent-dark;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &:last-of-type {
    border-bottom: none;
  }
}

.statistics-list__date {
  padding: 0 1rem;
}

@media screen and (min-width: $breakpoint-width) {
  .admin__section {
    grid-column-end: span 6;
  }
  .admin__section--full-width {
    grid-column-end: span 12;
  }

  .import__form {
    flex-flow: row wrap;
    align-items: center;
  }
}
