@import '../../../scss/base/variables';
@import '../../../scss/utils/mixins';
@import '../../../scss/base/grid';

.funds {
  @include main-content;
  @include grid-container;
}

.funds__header {
  @include main-content__header;
  position: sticky;
  z-index: 1;
  top: 6rem;
  background-color: $color-shade-dark;
}

.funds__list {
  @include content-box;
  @include full-width;
}

@media screen and (min-width: $breakpoint-width) {
  .funds__header {
    top: 4rem;
  }
}
