@import '../../../../scss/base/variables';
@import '../../../../scss/utils/mixins';
@import '../../../../scss/base/grid';

.user-details {
  @include main-content;
  @include grid-container;
}

.user-details__header {
  @include main-content__header;
}

.user-details__data {
  @include content-box;
}

.user-details__actions {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.user-details__action {
  display: flex;
  flex-flow: row wrap;
}

.user-details__button {
  width: 100%;
}

.user-details__role-select {
  margin: 0.25rem;
  flex: 1 0 auto;
}
.user-details__role-set {
  flex: 1 1 auto;
}

.data-point {
  display: flex;
  padding-bottom: 0.5rem;
  flex-flow: column;
  justify-content: space-between;
}

.data-point__title {
  font-weight: 500;
}

.data-point__data {
  text-align: right;
}

@media screen and (min-width: $breakpoint-width-mid) {
  .data-point {
    flex-flow: row nowrap;
  }
}
