@import '../scss/base/variables';

.container {
  position: relative;
  display: grid;
  min-height: 100vh;

  grid-template-areas:
    'header'
    'sidebar'
    'main'
    'footer';
  grid-template-columns: 100%;
  grid-template-rows: 6rem 12rem 1fr 2rem;

  &--noNavbar {
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 100%;
    grid-template-rows: 6rem 1fr 2rem;
  }
}

.header {
  z-index: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sidebar {
  z-index: 1;
  grid-area: sidebar;
  position: fixed;
  top: 6rem;
  width: 100%;
  z-index: 1;
}

.main {
  z-index: 0;
  grid-area: main;
}

.footer {
  z-index: 1;
  grid-area: footer;
  position: sticky;
  bottom: 0;
}

@media screen and (min-width: $breakpoint-width) {
  .container {
    grid-template-areas:
      'header header'
      'sidebar main'
      'footer footer';
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 4rem 1fr 2rem;

    &--noNavbar {
      grid-template-areas:
        'header'
        'main'
        'footer';
      grid-template-columns: 1fr;
      grid-template-rows: 4rem 1fr 2rem;
    }
  }

  .sidebar {
    position: unset;
    z-index: unset;
  }
}
