@import '../../../scss/base/variables';

.header {
  width: 100%;
  height: 100%;
  display: flex;

  background-color: $color-shade-darker;
}

.header__brand {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  cursor: pointer;
  font-size: 1.5rem;

  width: 4rem;
  height: 4rem;

  background-color: transparent;
  color: $color-shade-light;

  border: none;

  transition: color .2s;

  &:hover,
  &:focus {
    outline: none;
    color: $color-accent-light;
  }
}

.header__buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__controls {
  display: flex;

}

.header__status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;

  color: $color-danger;

  &--connected {
    color: $color-success;
  }
}
