<header class="header">

  <a [routerLink]="['/']" class="link header__brand">
    <span class="header__logo">
      <img class="header__image" src="assets/images/lipper.png" alt="">
    </span>
    <h1>LFA Progress Tracker</h1>
  </a>

  <div class="header__buttons">
    <button class="header__button" (click)="toggleNav()"><span class="fa fa-fw fa-bars"></span></button>
    <ul class="header__controls">
      <li><button class="header__button"><span class="fa fa-fw fa-bell"></span></button></li>
      <li><button class="header__button"><span class="fa fa-fw fa-cog"></span></button></li>
      <li><span class="fa fa-fw fa-circle header__status" [ngClass]="{'header__status--connected': connected}"></span></li>
    </ul>
  </div>

</header>
