@import '../../../scss/base/variables';

.header {
  width: 100%;
  height: 100%;
  display: flex;

  background-color: $color-shade-darker;
}

.header__brand {
  font-weight: 700;

  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 1.5rem;

  width: 3rem;
  height: 3rem;
  margin: 0.5rem;

  background-color: transparent;
  color: $color-shade-light;

  border: none;

  transition: color $transition-duration, transform $transition-duration;

  &:hover,
  &:focus {
    outline: none;
    color: $color-accent-light;
  }

  &:active {
    color: $color-success;
    transform: scale(.9);
    transition: color 0s, transform 0s;
  }
}

.header__buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__controls {
  display: flex;
}

.header__status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;

  transition: color $transition-duration;

  color: $color-danger;
  animation: pulse__text--danger $pulse-duration infinite;

  &--connected {
    color: $color-success;
    animation: none;
  }
}
