@import '../../../../../scss/base/variables';

.funds-list-item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.funds-list-item__lipper-id {
  flex: 0 1 auto;
  padding-right: 1rem;
}

.funds-list-item__fund-name {
  flex: 1 1 auto;
}

@media screen and (min-width: $breakpoint-width-mid) {
  .funds-list-item {
    flex-flow: row wrap;
  }
}
