<form>

  <div class="">
    <label class="">Order By</label>
    <select class="select select--slim">
    </select>
  </div>

  <fieldset>
    <legend>Ranks</legend>
    <div>
      <input type="checkbox">
      <label>1</label>
    </div>
    <div>
      <input type="checkbox">
      <label>2</label>
    </div>
    <div>
      <input type="checkbox">
      <label>3</label>
    </div>
    <div>
      <input type="checkbox">
      <label>4</label>
    </div>
    <div>
      <input type="checkbox">
      <label>5</label>
    </div>
  </fieldset>

  <label for="code">Code (Lipper ID / ISIN)</label>
  <input id="code" type="text" class="input input--slim">

  <label for="assignee">Assignee</label>
  <input id="assignee" type="text" class="input input--slim">

</form>
