@import '../../../scss/base/variables';
@import '../../../scss/utils/mixins';

.authenticate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $color-shade-darker;
  overflow: auto;
}

.authenticate__form {
  @include content-box;
  padding: 0;
}

.authenticate__brand {
  padding: 1rem 0.5rem;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authenticate__logo {
  height: 2rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authenticate__image {
  height: 100%;
  width: auto;
}
