@import '../../../../scss/base/variables';
@import '../../../../scss/utils/mixins';
@import '../../../../scss/base/grid';

.statistics-by-universe__header {
  @include main-content__header;
  margin-bottom: 0;
}

.statistics-by-universe__list {
  @include full-width;
  @include grid-box-list;
}

.statistics-by-universe__item {
  @include content-box;
  padding: 1rem;
}

.statistics-by-universe__search-wrapper {
  @include full-width;
}
.statistics-by-universe__search {
  width: 100%;
}
