@import '../../../../scss/base/variables';
@import '../../../../scss/utils/mixins';
@import '../../../../scss/base/grid';

.statistics-by-universe__header {
  @include main-content__header;
  margin-bottom: 0;
}

.statistics-by-universe__list {
  @include full-width;
  display: flex;
  flex-flow: row wrap;
}

.statistics-by-universe__item {
  @include content-box;

  flex: 1 0 calc(20% - 2rem);
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.statistics-by-universe__search-wrapper {
  @include full-width;
}
.statistics-by-universe__search {
  width: 100%;
}
