<div class="dashboard">
  <h2 class="dashboard__header">Dashboard</h2>
  <app-panel class="col-12">
    <h3>Welcome to the LFA Progress Tracker!</h3>
    <p>Navigate using the links in the sidebar.</p>
    <p>Links to repo:</p>
    <ul>
      <li>Front-End: <a class="link link--inverse" href="https://gitlab.com/mareksl/lfa-tracker-frontend">https://gitlab.com/mareksl/lfa-tracker-frontend</a></li>
      <li>Back-End: <a href="https://gitlab.com/mareksl/lfa-tracker-backend" class="link link--inverse">https://gitlab.com/mareksl/lfa-tracker-backend</a></li>
    </ul>
  </app-panel>
  <app-panel class="col-12" type="info">
    <h3>Changelog</h3>
    <ul class="changelog">
      <li class="changelog__item">
        <h4 class="changelog__version">v 0.1.0</h4>
        <p>Development</p>
      </li>
    </ul>
    <h3>Roadmap</h3>
    <ul class="roadmap">
      <li class="roadmap__item">Fix fund list upload</li>
      <li class="roadmap__item">Fix statistics export</li>
      <li class="roadmap__item">Historical statistics</li>
      <li class="roadmap__item">User accounts with roles</li>
      <li class="roadmap__item">Comments</li>
      <li class="roadmap__item">Notifications</li>
      <li class="roadmap__item">Documentation</li>
    </ul>
  </app-panel>
  <app-panel class="col-12">
    <div class="dashboard__images">
      <a href="https://www.mongodb.com/">
        <img class="dashboard__image" src="assets/images/mongodb.png" alt="MongoDB">
      </a>
      <a href="https://expressjs.com/">
        <img class="dashboard__image dashboard__image--express" src="assets/images/express.png" alt="Express">
      </a>
      <a href="https://angular.io/">
        <img class="dashboard__image" src="assets/images/angular.png" alt="Angular">
      </a>
      <a href="https://nodejs.org/">
        <img class="dashboard__image" src="assets/images/nodejs.png" alt="Node.js">
      </a>
    </div>
  </app-panel>
</div>
