<div class="dashboard">
  <h2 class="dashboard__header">Dashboard</h2>
  <app-panel class="col-12">
    <h3>Welcome to the LFA Progress Tracker!</h3>
    <p>Navigate using the links in the sidebar.</p>
    <p>Links to repo:</p>
    <ul>
      <li>Front-End: <a class="link link--inverse" href="https://gitlab.com/mareksl/lfa-tracker-frontend">https://gitlab.com/mareksl/lfa-tracker-frontend</a></li>
      <li>Back-End: <a href="https://gitlab.com/mareksl/lfa-tracker-backend" class="link link--inverse">https://gitlab.com/mareksl/lfa-tracker-backend</a></li>
    </ul>
  </app-panel>
  <app-panel class="col-12">
    <h3>Changelog</h3>
    <ul>
      <li>
        <h4>v 0.1.0</h4>
        <p>Development</p>
      </li>
    </ul>
    <h3>Roadmap</h3>
    <ul>
      <li>Fix fund list upload</li>
      <li>Fix statistics export</li>
      <li>Historical statistics</li>
      <li>User accounts with roles</li>
      <li>Comments</li>
      <li>Notifications</li>
      <li>Documentation</li>
    </ul>
  </app-panel>
</div>
