<div class="dashboard">
  <app-panel class="col-6">
    <button class="button">Button</button>
    <button class="button button--accent">Button</button>
    <button class="button button--success">Button</button>
    <button class="button button--warning">Button</button>
    <button class="button button--danger">Button</button>
  </app-panel>
  <app-panel class="col-6" type="success">
    <input type="text" class="input">
  </app-panel>
  <app-panel class="col-6" type="warning">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, distinctio consectetur ducimus quod
      pariatur aperiam sequi reprehenderit qui mollitia facilis, adipisci saepe sint. Quisquam laborum facilis aliquam,
      ratione distinctio mollitia.</p>
  </app-panel>
  <app-panel class="col-6" type="danger">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, distinctio consectetur ducimus quod
      pariatur aperiam sequi reprehenderit qui mollitia facilis, adipisci saepe sint. Quisquam laborum facilis aliquam,
      ratione distinctio mollitia.</p>
  </app-panel>
</div>
