@import '../../../../scss/base/variables';

.panel {
  background-color: $color-shade-light;
  padding: 1rem;
  border-radius: $border-radius-default;

  box-shadow: 0 .125rem .125rem 0 rgba(0, 0, 0, 0.14),
    0 .1875rem .0625rem -.125rem rgba(0, 0, 0, 0.2),
    0 .0625rem .3125rem 0 rgba(0, 0, 0, 0.12);
}
